<p>"Lägga till artikel" [skyddad] - formulär som bloggaren kan använda för att lägga till en nytt inlägg. Kan bara användas om man har loggat in.</p>
<div *ngIf="!loginStatus; else elseBlock">
    <p>DU MÅSTE LOGGA IN FÖR ATT FÅ TILLGÅNG TILL DENNA FUNKTIONALITET</p>
</div>
<ng-template #elseBlock>
<!-- <div id="container">
    <form>
        <h1>Write new article</h1>
       <label for="title">Title:</label> <input id="title" type="text" ><br>
       <label for="author">Author:</label> <input id="author" type="text" ><br>
       <label for="content">Content:</label> <input id="content" type="text" >
    </form>
</div> -->
<div id="container">
    <form>
    <h1>Add article</h1>

    <div id="titlee">
        <label for="titlee"><span>*</span> Title</label>
        <input id="titlee" type="text" required name="titlee" minlength="10">
    </div>

    <div id="author">
        <label for="author">Author</label>
        <input id="author" type="text"  name="author">
    </div>


    <label for="content"><span>*</span> Content</label>
    <input id="content" required type="text"  name="content">
    <!-- <label for="ttr">Time to read</label>
    <input id="ttr" type="text" value="" name="ttr"> -->
    <button>Publish</button>
</form>
</div>
</ng-template>