<header>
  <nav>
    
    <a routerLink="/start-page" routerLinkActive="active">Home</a>
    <a routerLink="/latest-articles" routerLinkActive="active">Latest articles</a>
    <a routerLink="/all-articles" routerLinkActive="active">All articles</a>
    <a routerLink="/login" routerLinkActive="active">{{message}}</a>
    <a *ngIf="isEnabled;" routerLink="/add-article" routerLinkActive="active">Add article</a>
  </nav>  
</header>
<router-outlet></router-outlet>
<footer>
  <img src="assets/imgs/B.jpg">

    <div><h3>WE LOVE BLOGGING</h3>
      <p class="footerP">We have been blogging since 100 BC</p>
    </div>
    <div><h3>CHECK OUT MY FANPAGE</h3>
      <p class="footerP">Visit PelleKalle @Instagram</p>
    </div>
    <div><h3>IM A BIG INFLUENCER</h3>
      <p class="footerP">Check out my youtube @OlleAndPelleKalle</p>
    </div>
</footer>