*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{        
    padding-top: 60px;
    padding-bottom: 40px;
}
header, footer{
    width: 100%;
    position: fixed;        
    background: #333;
    color: #fff;
}
header{
    top: 0;
}
footer{
    bottom: 0;
}
.container{
    width: 80%;
    margin: 0 auto; /* Center the DIV horizontally */
}
nav a{
    color: #fff;
    text-decoration: none;
    padding: 20px 25px;
    display: inline-block;
}
nav a:hover{
    background-color: #ccc;
    color:black;
}
.active{
    background-color: #ccc;
    color:black;
}