<p>"Alla" - visa alla artiklar, men bara titlarna</p>

<main>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>
<div class="title">Title</div>

</main>